.projects-container {
  padding: 6.25rem 1.875rem 9.375rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-heading {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  font-weight: bold;
  background-color: #E91E63;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 6.25rem;
  width: 22.875rem; /* 350px */
  height: 4rem; /* 64px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-grid-container {
  min-height: 70vh; 
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2.5rem;
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.projects-grid.transitioning {
  opacity: 0;
  transform: translateY(1.25rem);
}

.project-card-placeholder {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.project-card {
  border-radius: 0.625rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 28.125rem;
  cursor: pointer; /* Add this line */
}

.project-image-container {
  height: 12.5rem; /* 200px */
  background-color: #f0f0f0;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card:hover {
  transform: translateY(-0.625rem);
}

.project-links {
  margin-top: auto;
  padding-bottom: 1.25rem;
}

.project-links a {
  text-decoration: none;
  margin: 0 0.625rem;
  font-weight: normal;
  display: inline-block;
  background-color: transparent;
  color: #E91E63;
  padding: 0.3125rem 1.25rem;
  border-radius: 1.25rem;
  border: 1px solid #E91E63;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-links a:hover {
  background-color: #E91E63;
  color: #fff;
}

.project-card h1 {
  font-size: 1.5rem;
  margin: 1.25rem 0 1rem 0;
  font-weight: 500;
  color: #3B3B3B;
  height: 4.5rem; /* Adjusted height for 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 1.25rem;
  height: 7.5rem; /* Fixed height for description */
  overflow-y: auto;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.pagination-button {
  background-color: #E91E63;
  color: #fff;
  border: none;
  border-radius: 1.25rem;
  padding: 0.625rem 1.0625rem;
  margin: 0 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:disabled {
  background-color: #ccc;
  border-radius: 1.25rem;
  padding: 0.625rem 1.0625rem;
  cursor: not-allowed;
}

.page-indicator {
  font-size: 1.125rem;
  font-weight: bold;
  color: #3B3B3B;
}

@media (max-width: 768px) {
  .projects-container {
    padding: 3.125rem 0.9375rem;
  }

  .projects-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.625rem 2.5rem;
    text-align: center;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }

  .project-card h1 {
    font-size: 1.25rem;
    margin: 0.9375rem 0 0.75rem 0;
  }

  .project-card p {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    padding: 0 0.9375rem;
    max-height: 6.25rem;
    overflow-y: auto;
    background-color: #E91E63;
    color: #fff;
    border-radius: 0.625rem;
    padding: 0.625rem;
    text-align: left;
  }
}