.education-container {
  padding: 6.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 50vh;
}

.education-speech-bubble {
  position: absolute;
  top: 6.25rem;
  right: 1.875rem;
  background-color: #E91E63;
  color: #fff;
  padding: 1.25rem;
  border-radius: 1.25rem;
  max-width: 18.75rem;
  z-index: 10;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.education-speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.625rem;
  border-style: solid;
  border-color: #E91E63 transparent transparent transparent;
}

.education-speech-bubble h3 {
  margin-top: 0;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.education-speech-bubble ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.education-speech-bubble li {
  font-size: 0.875rem;
  line-height: 1.6;
}

.education-heading {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  background-color: #E91E63;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 6.25rem;
  width: 22.875rem; /* 350px */
  height: 4rem; /* 64px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
}

.education-item {
}

.education-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.education-logo {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.9375rem;
  border-radius: 50%;
  object-fit: cover;
}

.education-details h2 {
  font-size: 1.5rem;
  margin: 0 0 0.3125rem 0;
  color: #3B3B3B;
}

.education-details h3 {
  font-size: 1.125rem;
  margin: 0 0 0.3125rem 0;
  color: #C2185B;
}

.education-date,
.education-location {
  font-size: 0.875rem;
  color: #666;
  margin: 0;
}

@media (max-width: 768px) {
  .education-container {
    padding: 3.125rem 0.9375rem;
  }

  .education-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.625rem 2.5rem;
    text-align: center;
  }

  .education-speech-bubble {
    position: static;
    margin-bottom: 1.875rem;
    width: 100%;
    max-width: 15rem;
  }

  .education-speech-bubble h3 {
    font-size: 1rem;
  }

  .education-speech-bubble li {
    font-size: 0.75rem;
  }

  .education-list {
    gap: 1.875rem;
  }

  .education-logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .education-details h2 {
    font-size: 1.25rem;
  }

  .education-details h3 {
    font-size: 1rem;
  }

  .education-date,
  .education-location {
    font-size: 0.75rem;
  }
}