.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6.25rem 1.875rem;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.about-content {
  z-index: 3;
  max-width: 62.5rem; /* Reduced max-width */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto; /* Center the container */
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  margin-left: 3.125rem; /* Space between image and text */
}

.about-text-content {
  flex: 1; /* Take up available space */
  max-width: 37.5rem; /* Limit text width */
  text-align: left; /* Align text to the left */
  /* Removed margin-left from here */
  background-color: #E91E63; /* Custom pink for sent message bubble */
  border-radius: 1.25rem; /* Rounded corners */
  border-bottom-left-radius: 0.3125rem; /* Sharper corner for the tail side */
  padding: 1.25rem;
  position: relative; /* Needed for pseudo-element positioning */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.intro-name {
  font-size: 3.75rem; /* Larger for name */
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.intro-title {
  font-size: 1.875rem; /* Larger for title */
  margin-bottom: 2.5rem;
}

.about-text-content h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.about-text-content p {
  font-size: 1.25rem;
  line-height: 1.6;
}

.about-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-links-about {
  display: flex;
  margin-left: 10px;
}

.about-action-button {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: normal;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.about-resume-button {
  background-color: transparent;
  border: 1px solid #E91E63;
  color: #E91E63;
}

.about-resume-button:hover {
  background-color: #E91E63;
  color: #fff;
}

.social-button {
  background-color: #E91E63;
  color: #fff;
  border: 1px solid #E91E63;
}


.about-image-placeholder {
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 50%;
  flex-shrink: 0; /* Prevent shrinking */
  overflow: hidden; /* Hide overflowing image parts */
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Add transition */
}

.about-image-placeholder:hover {
  transform: rotate(30deg); /* Rotate on hover */
}

.about-image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the area, cropping if necessary */
  border-radius: 50%; /* Match placeholder border-radius */
}
@media screen and (min-width: 768px) {
.scroll-indicator {
  position: absolute;
  top: 18vh;
  font-size: 3rem;
  color: #3B3B3B; /* Primary color */
  animation: bounce 2s infinite;
  z-index: 0; /* Ensure it's behind other content */
}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.625rem);
  }
  60% {
    transform: translateY(-0.3125rem);
  }
}
