.about-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.25rem 0.625rem;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.about-content {
  z-index: 3;
  max-width: 62.5rem; /* Reduced max-width */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto; /* Center the container */
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  margin-left: 3.125rem; /* Space between image and text */
}

.about-text-content {
  flex: 1; /* Take up available space */
  max-width: 37.5rem; /* Limit text width */
  text-align: left; /* Align text to the left */
  /* Removed margin-left from here */
  background-color: #E91E63; /* Custom pink for sent message bubble */
  border-radius: 1.25rem; /* Rounded corners */
  padding: 2.1875rem;
  padding-bottom: 0rem;
  position: relative; /* Needed for pseudo-element positioning */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.intro-name {
  font-size: 2.5rem; /* Larger for name */
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.intro-title {
  font-size: 1.25rem; /* Larger for title */
  margin-bottom: 2.5rem;
}

.about-text-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.about-text-content p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.about-resume-button {
  background-color: var(--background-color);
  border: 1px solid #E91E63;
  color: #E91E63;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-resume-button:hover {
  background-color: #E91E63;
  color: #fff;
}

.about-image-placeholder {
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 50%;
  flex-shrink: 0; /* Prevent shrinking */
  overflow: hidden; /* Hide overflowing image parts */
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* Add transition */
}

.about-image-placeholder:hover {
  transform: rotate(5deg); /* Rotate on hover */
}

.about-image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the area, cropping if necessary */
  border-radius: 50%; /* Match placeholder border-radius */
}

.scroll-indicator {
  font-size: 3rem;
  color: #3B3B3B; /* Primary color */
  animation: bounce 2s infinite;
  margin-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
  
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.625rem);
  }
  60% {
    transform: translateY(-0.3125rem);
  }
}

/* Mobile Styles for About Section */
@media screen and (max-width: 768px) {
  .about-container {
    margin-top: 5vh; /* Added padding to the top of the section */
  }

  .about-content {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center content */
  }

  .about-image-placeholder {
    margin-bottom: 1.875rem; /* Space below image */
  }

  .about-text-wrapper {
    margin-left: 0; /* Remove left margin */
    align-items: center; /* Center items in the wrapper */
  }

  .about-text-content {
    margin-left: 0; /* Remove left margin */
    text-align: center; /* Center text in bubble */
    border-bottom-left-radius: 1.25rem; /* Make all corners rounded */
    border-top-right-radius: 0.3125rem; /* Sharper corner for the tail side on right */
    max-width: 90%; /* Ensure it renders entirely on mobile */
    box-sizing: border-box; /* Include padding in width calculation */
  }
}