.experience-container {
  padding: 6.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-heading {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  font-weight: bold;
  background-color: #E91E63;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 6.25rem;
  width: 22.875rem; /* 350px */
  height: 4rem; /* 64px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  max-width: 62.5rem;
  margin: 0 auto;
}

.experience-item {
}

.experience-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.experience-logo {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.9375rem;
  border-radius: 50%;
  object-fit: cover;
}

.experience-details h2 {
  font-size: 1.5rem;
  margin: 0 0 0.3125rem 0;
  color: #3B3B3B;
}

.experience-details h3 {
  font-size: 1.125rem;
  margin: 0 0 0.3125rem 0;
  color: #C2185B;
}

.experience-date,
.experience-location {
  font-size: 0.875rem;
  color: #666;
  margin: 0;
}

.experience-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}

.tech-bubble {
  padding: 0.5rem 0.9375rem;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  font-weight: normal;
  white-space: nowrap;
  background-color: #E91E63;
  color: #fff;
}

@media (max-width: 768px) {
  .experience-container {
    padding: 3.125rem 0.9375rem;
  }

  .experience-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .experience-list {
    gap: 1.875rem;
  }

  .experience-logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .experience-details h2 {
    font-size: 1.25rem;
  }

  .experience-details h3 {
    font-size: 1rem;
  }

  .experience-date,
  .experience-location {
    font-size: 0.75rem;
  }

  .experience-tech-stack {
    gap: 0.5rem;
  }

  .tech-bubble {
    padding: 0.375rem 0.75rem;
    font-size: 0.75rem;
  }
}
